body { 
    background:  url(https://cdn.hipwallpaper.com/m/88/45/rwJzfm.jpg) no-repeat; 
    background-size: cover;
  }

.text{
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    text-align: center;
    color: black;
}

.title-display{
    background: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    text-align: center;
}
.main-container{
    background: lightskyblue;
    border: solid black 2px;
    padding: 20px 20px 0px 20px;
    margin-top:80px;
}